
@*<label>@label</label>
<input type="text" @bind-value="@input" />*@


@code{
    [Parameter] public string Titulo { get; set; }
    public string titulo { get; set; }
    protected override async Task OnInitializedAsync()
    {
        titulo = Titulo;

    }

}



